<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= title %></title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>ADMIN PANEL</h3>
            </div>

            <ul class="list-unstyled components">
                <p>BN Blog Posts</p>
                <li class="active">
                    <a href="/admin/home">Dashboard</a>
                </li>
                <li>
                    <a href="/admin/blog_list">All Posts</a>
                </li>
                <li>
                    <a href="/admin/logout" >Logout</a>
                    
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <!-- <span>Toggle Sidebar</span> -->
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <h1 style="padding-left: 20px;"><%= title %></h1>
                        <!-- <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><button class="btn btn-success">SAVE
                                </button></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </nav>
            <div class="container blog_detail">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="blogTitle">Title</label>
                        <input type="text" class="form-control" 
                        id="blog-title" name="title" aria-describedby="titleHelp" 
                        placeholder="First title" required
                        <% if(admin) {%> 
                            value="<%= blog.title %>"
                        <%} else {%>
                            value=""
                        <%}%>
                        >
                    </div>
                    <p>
                        <%- include('error') %>    
                    </p>
                    <div class="form-group">
                        <label for="writter">Written By:</label>
                        <select class="form-control" id="writterby" name="admin">
                            <% admin.forEach(function(el, index){  %>
                                <option value= <%= el._id %> >
                                    <%= el.name %>
                                </option>
                               
                            <% }) %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="blogDescription">Content</label>
                        <textarea class="form-control" id="blogDescription" 
                        name="description" rows="5"
                         ><% if(blog) {%> <%= blog.description %> <%}%> </textarea>
                    </div>

                    <div class="form-group">
                        <label for="blogDescription">Content</label>
                        <input type="date" class="form-control" id="blogdate" 
                        name="blogdate" aria-describedby="dateHelp" placeholder="" >
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="/javascripts/jquery.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
            // $('#blogdate').val(new Date().toDateInputValue());
        });
    </script>
</body>

</html>